n8n/workflows/03_native_ai.json
{
  "name": "Native: AI",
  "nodes": [
    {
      "parameters": {},
      "id": "ai-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Route to specific AI integration\nconst input = $input.item.json;\nconst integrationName = input.integration.integration;\n\nreturn [{\n  json: {\n    ...input,\n    routing_node: integrationName\n  }\n}];"
      },
      "id": "ai-router",
      "name": "AI Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "openai",
              "name": "=openai",
              "value": "={{ $json.routing_node === 'openai' }}",
              "type": "boolean"
            },
            {
              "id": "anthropic",
              "name": "=anthropic",
              "value": "={{ $json.routing_node === 'anthropic' }}",
              "type": "boolean"
            },
            {
              "id": "gemini",
              "name": "=gemini",
              "value": "={{ $json.routing_node === 'google_gemini' }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-switch-prep",
      "name": "Prepare Switch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.openai }}",
        "rules": {
          "rules": [
            {
              "value2": true,
              "output": 0
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ai-switch",
      "name": "Switch: AI Provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $('Execute Workflow Trigger').item.json.command.params.prompt || 'Hello' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "openai-node",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [1120, 100],
      "credentials": {
        "openAiApi": {
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "prompt": "={{ $('Execute Workflow Trigger').item.json.command.params.prompt || 'Hello' }}",
        "options": {}
      },
      "id": "anthropic-node",
      "name": "Anthropic",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [1120, 300],
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generic AI handler for other providers\nconst input = $input.item.json;\nreturn [{\n  json: {\n    error: true,\n    message: `AI provider ${input.routing_node} not yet implemented`,\n    request_id: input.request_id\n  }\n}];"
      },
      "id": "ai-fallback",
      "name": "AI Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "jsCode": "// Format AI response\nconst input = $('Execute Workflow Trigger').item.json;\nconst result = $input.item.json;\n\nreturn [{\n  json: {\n    success: !result.error,\n    request_id: input.request_id,\n    integration: input.integration.integration,\n    action: input.command.action,\n    result: result,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "AI Router", "type": "main", "index": 0}]]
    },
    "AI Router": {
      "main": [[{"node": "Prepare Switch", "type": "main", "index": 0}]]
    },
    "Prepare Switch": {
      "main": [[{"node": "Switch: AI Provider", "type": "main", "index": 0}]]
    },
    "Switch: AI Provider": {
      "main": [
        [{"node": "OpenAI", "type": "main", "index": 0}],
        [{"node": "Anthropic", "type": "main", "index": 0}],
        [],
        [{"node": "AI Fallback", "type": "main", "index": 0}]
      ]
    },
    "OpenAI": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Anthropic": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "AI Fallback": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "myca-native",
      "name": "MYCA Native"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T00:00:00.000Z",
  "versionId": "1"
}
