n8n/workflows/11_native_space_weather.json
{
  "id": "native-space-weather",
  "name": "Native: Space & Weather",
  "active": false,
  "versionId": "1",
  "nodes": [
    {
      "parameters": {},
      "id": "space-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Route to specific space/weather integration\nconst input = $input.item.json;\nconst integrationName = input.integration?.integration || 'unknown';\nconst action = input.command?.action || 'default';\nconst params = input.command?.params || {};\n\nreturn [{ \n  json: { \n    ...input, \n    routing_node: integrationName,\n    action: action,\n    params: params\n  } \n}];"
      },
      "id": "space-router",
      "name": "Space Weather Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Fetch data based on integration type\nconst input = $input.item.json;\nconst integration = input.routing_node;\nconst action = input.action;\nconst params = input.params || {};\n\nlet result = null;\nlet error = null;\n\ntry {\n  switch(integration) {\n    case 'nasa_donki':\n      result = { source: 'NASA DONKI', url: 'https://api.nasa.gov/DONKI', action, note: 'Connect HTTP node for live data' };\n      break;\n    case 'nasa_neo':\n      result = { source: 'NASA NEO', url: 'https://api.nasa.gov/neo/rest/v1', action, note: 'Connect HTTP node for live data' };\n      break;\n    case 'noaa_swpc':\n      result = { source: 'NOAA SWPC', url: 'https://services.swpc.noaa.gov', action, note: 'Connect HTTP node for live data' };\n      break;\n    case 'noaa_weather':\n      result = { source: 'NOAA Weather', url: 'https://api.weather.gov', action, note: 'Connect HTTP node for live data' };\n      break;\n    case 'goes_satellite':\n      result = { source: 'GOES Satellite', url: 'https://services.swpc.noaa.gov/json/goes', action, note: 'Connect HTTP node for live data' };\n      break;\n    case 'ace_satellite':\n      result = { source: 'ACE Solar Wind', url: 'https://services.swpc.noaa.gov/products/ace', action, note: 'Connect HTTP node for live data' };\n      break;\n    case 'dscovr':\n      result = { source: 'DSCOVR', url: 'https://services.swpc.noaa.gov/products/dscovr', action, note: 'Connect HTTP node for live data' };\n      break;\n    default:\n      error = `Unknown space/weather integration: ${integration}`;\n  }\n} catch(e) {\n  error = e.message;\n}\n\nreturn [{\n  json: {\n    success: !error,\n    request_id: input.request_id,\n    integration: integration,\n    category: 'space_weather',\n    action: action,\n    data: result,\n    error: error,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "space-handler",
      "name": "Handle Space Weather Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Space Weather Router", "type": "main", "index": 0 }]]
    },
    "Space Weather Router": {
      "main": [[{ "node": "Handle Space Weather Request", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
