n8n/workflows/12_mindex_image_scraper.json
{
  "name": "MINDEX Image Scraper - Training Data Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "schedule-images",
      "name": "Twice Daily Image Scrape",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mindex:8000/api/mindex/sync/iNaturalist",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "5000"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "sync-inaturalist-images",
      "name": "Sync iNaturalist Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mindex:8000/api/mindex/sync/GBIF",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "5000"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "sync-gbif-images",
      "name": "Sync GBIF Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://mindex:8000/api/mindex/images",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "is_training",
              "value": "true"
            },
            {
              "name": "per_page",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "get-training-images",
      "name": "Get Training Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate image stats\nconst items = $input.all();\nconst data = items[0]?.json || {};\n\nconst totalImages = data.total || 0;\nconst imagesBySource = {};\n\n// Group by source\nfor (const img of data.images || []) {\n  const source = img.source || 'Unknown';\n  imagesBySource[source] = (imagesBySource[source] || 0) + 1;\n}\n\nreturn [{\n  json: {\n    total_training_images: totalImages,\n    images_by_source: imagesBySource,\n    sample_images: (data.images || []).slice(0, 5).map(i => ({\n      url: i.url,\n      species: i.species_name,\n      source: i.source\n    })),\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-stats",
      "name": "Process Image Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mindex:8000/api/mindex/telemetry",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"image-scraper-workflow\",\n  \"data\": {{ JSON.stringify($json) }}\n}",
        "options": {}
      },
      "id": "log-to-mindex",
      "name": "Log Stats to MINDEX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "Twice Daily Image Scrape": {
      "main": [
        [
          {
            "node": "Sync iNaturalist Images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync GBIF Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync iNaturalist Images": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync GBIF Images": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Get Training Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Training Images": {
      "main": [
        [
          {
            "node": "Process Image Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Image Stats": {
      "main": [
        [
          {
            "node": "Log Stats to MINDEX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "mycosoft-mindex"
  },
  "id": "mindex-image-scraper",
  "tags": [
    {
      "name": "mindex"
    },
    {
      "name": "images"
    },
    {
      "name": "training-data"
    }
  ]
}



























