n8n/workflows/12_native_environmental.json
{
  "name": "Native: Environmental Sensors",
  "nodes": [
    {
      "parameters": {},
      "id": "env-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Route to specific environmental sensor integration\nconst input = $input.item.json;\nconst integrationName = input.integration?.integration || 'unknown';\nconst action = input.command?.action || 'default';\nconst params = input.command?.params || {};\n\nreturn [{ \n  json: { \n    ...input, \n    routing_node: integrationName,\n    action: action,\n    params: params\n  } \n}];"
      },
      "id": "env-router",
      "name": "Environmental Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Handle environmental sensor requests\nconst input = $input.item.json;\nconst integration = input.routing_node;\nconst action = input.action;\nconst params = input.params || {};\n\nlet result = null;\nlet error = null;\n\ntry {\n  switch(integration) {\n    case 'openaq':\n      result = { source: 'OpenAQ', url: 'https://api.openaq.org/v2', action, note: 'Air quality data from global monitoring stations' };\n      break;\n    case 'epa_airnow':\n      result = { source: 'EPA AirNow', url: 'https://www.airnowapi.org', action, note: 'US EPA air quality data' };\n      break;\n    case 'purpleair':\n      result = { source: 'PurpleAir', url: 'https://api.purpleair.com/v1', action, note: 'Crowdsourced air quality sensors' };\n      break;\n    case 'iqair':\n      result = { source: 'IQAir', url: 'https://api.airvisual.com/v2', action, note: 'Global air quality platform' };\n      break;\n    case 'safecast':\n      result = { source: 'Safecast', url: 'https://api.safecast.org', action, note: 'Radiation monitoring network' };\n      break;\n    case 'breezometer':\n      result = { source: 'BreezoMeter', url: 'https://api.breezometer.com', action, note: 'Air quality and pollen data' };\n      break;\n    case 'ambee':\n      result = { source: 'Ambee', url: 'https://api.ambeedata.com', action, note: 'Environmental intelligence platform' };\n      break;\n    default:\n      error = `Unknown environmental integration: ${integration}`;\n  }\n} catch(e) {\n  error = e.message;\n}\n\nreturn [{\n  json: {\n    success: !error,\n    request_id: input.request_id,\n    integration: integration,\n    category: 'environmental',\n    action: action,\n    data: result,\n    error: error,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "env-handler",
      "name": "Handle Environmental Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Environmental Router", "type": "main", "index": 0 }]]
    },
    "Environmental Router": {
      "main": [[{ "node": "Handle Environmental Request", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
