n8n/workflows/23_ops_gpu_job.json
{
  "name": "Ops: GPU Job Runner",
  "nodes": [
    {
      "parameters": {},
      "id": "gpu-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse GPU job command\nconst input = $input.item.json;\nconst command = input.command || {};\nconst params = command.params || {};\n\nconst jobRequest = {\n  job_type: params.job_type || 'inference',\n  model: params.model || 'default',\n  input_data: params.input_data || {},\n  priority: params.priority || 'normal',\n  request_id: command.request_id,\n  submitted_by: command.actor,\n  submitted_at: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    job: jobRequest,\n    action: command.action,\n    request_id: command.request_id,\n    gpu_endpoint: input.integration.base_url || 'http://localhost:9000/api'\n  }\n}];"
      },
      "id": "prepare-gpu-job",
      "name": "Prepare GPU Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "url": "={{ $json.gpu_endpoint }}/jobs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Request-ID",
              "value": "={{ $json.request_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.job) }}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "submit-gpu-job",
      "name": "Submit GPU Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "name": "GPU Runner API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format GPU job response\nconst request = $('Prepare GPU Job').item.json;\nconst response = $input.item.json;\n\nreturn [{\n  json: {\n    success: true,\n    request_id: request.request_id,\n    integration: 'myca_gpu_runner',\n    action: request.action,\n    data: {\n      job_id: response.job_id || response.id,\n      status: response.status || 'queued',\n      submitted_at: request.job.submitted_at\n    },\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-gpu-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Prepare GPU Job", "type": "main", "index": 0}]]
    },
    "Prepare GPU Job": {
      "main": [[{"node": "Submit GPU Job", "type": "main", "index": 0}]]
    },
    "Submit GPU Job": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{
    "id": "myca-ops",
    "name": "MYCA Ops"
  }],
  "triggerCount": 0,
  "updatedAt": "2025-12-17T00:00:00.000Z",
  "versionId": "1"
}
