n8n/workflows/blocks_calendar_auto_import.json
{
  "id": "blocks-calendar-auto-import",
  "name": "BLOCKS Calendar Auto-Import",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "hourly",
      "name": "Every hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{ ($env.BLOCKS_BASE_URL || 'https://blocks.mycodao.com') + '/api/news/producer/integrations/calendar/cron' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-blocks-cron-secret",
              "value": "={{ $env.BLOCKS_SCHEDULER_CRON_SECRET || $env.NEWS_PRODUCER_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "import-cron",
      "name": "Calendar import cron",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ok-check",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-ok",
      "name": "Import OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Every hour": {
      "main": [[{ "node": "Calendar import cron", "type": "main", "index": 0 }]]
    },
    "Calendar import cron": {
      "main": [[{ "node": "Import OK?", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
