n8n/workflows/myca-github-watcher.json
{
  "name": "MYCA GitHub Watcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "myca-github",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-github",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 240],
      "webhookId": "myca-github-watcher"
    },
    {
      "parameters": {
        "jsCode": "// Extract PR/issue from GitHub webhook and build gateway payload with HMAC\nconst crypto = require('crypto');\nconst input = $input.item.json;\nconst body = input.body || input;\n\nconst action = body.action || '';\nconst repo = body.repository ? (body.repository.full_name || body.repository.name) : 'unknown';\nlet title = `GitHub ${body.pull_request ? 'PR' : 'Issue'}`;\nlet description = '';\n\nif (body.pull_request) {\n  const pr = body.pull_request;\n  title = `[PR] ${pr.title || 'Untitled'} (#${pr.number})`;\n  description = [\n    `Repo: ${repo}`,\n    `Action: ${action}`,\n    `State: ${pr.state}`,\n    (pr.body || '').slice(0, 1500)\n  ].join('\\n');\n} else if (body.issue) {\n  const iss = body.issue;\n  title = `[Issue] ${iss.title || 'Untitled'} (#${iss.number})`;\n  description = [\n    `Repo: ${repo}`,\n    `Action: ${action}`,\n    `State: ${iss.state}`,\n    (iss.body || '').slice(0, 1500)\n  ].join('\\n');\n} else {\n  title = `GitHub: ${repo} - ${body.action || 'event'}`;\n  description = JSON.stringify(body).slice(0, 2000);\n}\n\nconst payload = {\n  title: String(title),\n  description: String(description),\n  priority: 'high',\n  task_type: 'github'\n};\n\nconst bodyStr = JSON.stringify(payload);\nconst secret = $env.WEBHOOK_SECRET || '';\nconst sig = secret ? crypto.createHmac('sha256', secret).update(bodyStr).digest('hex') : '';\n\nreturn [{ json: { _rawBody: bodyStr, _signature: sig } }];"
      },
      "id": "code-hmac",
      "name": "Build Payload + HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 240]
    },
    {
      "parameters": {
        "url": "={{ $env.MYCA_GATEWAY_URL || 'http://192.168.0.191:8100' }}/webhooks/github",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Content-Type", "value": "application/json"},
            {"name": "X-Webhook-Signature", "value": "={{ $json._signature }}"}
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "contentType": "application/json",
        "bodyParameters": {"parameters": []},
        "options": {
          "bodyContentType": "raw",
          "rawBody": "={{ $json._rawBody }}"
        }
      },
      "id": "http-gateway",
      "name": "POST to MYCA Gateway",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 240],
      "notesInFlow": true,
      "notes": "Uses X-Webhook-Signature from prior node"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 240]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Build Payload + HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload + HMAC": {
      "main": [
        [
          {
            "node": "POST to MYCA Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST to MYCA Gateway": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "MYCA",
      "id": "myca"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
