scripts/n8n_workflows/myca_chat_workflow.json
{
  "name": "MYCA Chat Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "myca-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "MYCA Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "={{ $json.system_prompt }}",
              "role": "system"
            },
            {
              "content": "={{ $json.message }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1024
        }
      },
      "id": "openai-1",
      "name": "OpenAI GPT-4o",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [680, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare the message for AI processing\nconst input = $input.all()[0].json;\n\nconst systemPrompt = `You are MYCA (Mycosoft Autonomous Cognitive Agent), the central AI orchestrator for Mycosoft.\n\n## Your Identity\n- Name: MYCA (pronounced \"My-kah\")\n- Voice: Arabella (ElevenLabs) - professional, warm, articulate\n- Role: CEO-level AI operator for Morgan Rockwell\n\n## Mycosoft Context\n- Industry: Mycology research, fungal biotechnology\n- Products: MycoBrain (IoT sensors), MINDEX (database), NatureOS\n\n## Capabilities (223 agents)\n- Financial, Mycology, Data, Infrastructure, Security, Integration, Device agents\n- n8n workflows, Metabase analytics, ElevenLabs voice\n\n## Response Guidelines\n1. Be conversational and helpful\n2. Use markdown formatting\n3. Reference specific agents when relevant\n4. Keep responses concise but informative`;\n\nreturn {\n  message: input.message || '',\n  session_id: input.session_id || 'session-' + Date.now(),\n  context: input.context || {},\n  system_prompt: systemPrompt,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "code-1",
      "name": "Prepare MYCA Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the response\nconst input = $input.all()[0].json;\nconst aiResponse = input.message?.content || input.choices?.[0]?.message?.content || 'I apologize, but I could not generate a response.';\n\nreturn {\n  response: aiResponse,\n  agent: 'myca-orchestrator',\n  provider: 'openai-n8n',\n  timestamp: new Date().toISOString(),\n  workflow: 'myca-chat-workflow'\n};"
      },
      "id": "code-2",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "MYCA Chat Webhook": {
      "main": [
        [
          {
            "node": "Prepare MYCA Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare MYCA Context": {
      "main": [
        [
          {
            "node": "OpenAI GPT-4o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4o": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["myca", "chat", "ai"],
  "meta": {
    "instanceId": "myca-mas"
  }
}
