scripts/n8n_workflows/myca_voice_workflow.json
{
  "name": "MYCA Voice Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "myca-voice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-voice-1",
      "name": "MYCA Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-tts",
              "leftValue": "={{ $json.action }}",
              "rightValue": "tts",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-1",
      "name": "TTS or STT?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/aEO01A4wXwd1O8GPgGlF",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{ $env.ELEVENLABS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\",\n  \"model_id\": \"eleven_turbo_v2_5\",\n  \"voice_settings\": {\n    \"stability\": 0.4,\n    \"similarity_boost\": 0.8,\n    \"style\": 0.2,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "http-tts-1",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "http-stt-1",
      "name": "OpenAI Whisper STT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "jsCode": "// Format TTS response\nconst input = $input.all()[0];\n\nreturn {\n  success: true,\n  action: 'tts',\n  audio_base64: input.binary?.data ? Buffer.from(input.binary.data).toString('base64') : null,\n  voice_id: 'aEO01A4wXwd1O8GPgGlF',\n  voice_name: 'Arabella',\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "code-tts-1",
      "name": "Format TTS Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Format STT response\nconst input = $input.all()[0].json;\n\nreturn {\n  success: true,\n  action: 'stt',\n  text: input.text || '',\n  duration: input.duration,\n  language: input.language,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "code-stt-1",
      "name": "Format STT Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-voice-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "MYCA Voice Webhook": {
      "main": [
        [
          {
            "node": "TTS or STT?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS or STT?": {
      "main": [
        [
          {
            "node": "ElevenLabs TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI Whisper STT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ElevenLabs TTS": {
      "main": [
        [
          {
            "node": "Format TTS Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Whisper STT": {
      "main": [
        [
          {
            "node": "Format STT Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format TTS Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format STT Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["myca", "voice", "tts", "stt", "elevenlabs"],
  "meta": {
    "instanceId": "myca-mas"
  }
}
