n8n/archive/Native__AI__v1__20260202_202356.json
{
  "updatedAt": "2025-12-17T00:00:00.000Z",
  "createdAt": "2026-01-27T06:11:07.257Z",
  "id": "bp5wi0akDB0E2FQ1",
  "name": "Native: AI",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "ai-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Route to specific AI integration\nconst input = $input.item.json;\nconst integrationName = input.integration.integration;\n\nreturn [{\n  json: {\n    ...input,\n    routing_node: integrationName\n  }\n}];"
      },
      "id": "ai-router",
      "name": "AI Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "openai",
              "name": "=openai",
              "value": "={{ $json.routing_node === 'openai' }}",
              "type": "boolean"
            },
            {
              "id": "anthropic",
              "name": "=anthropic",
              "value": "={{ $json.routing_node === 'anthropic' }}",
              "type": "boolean"
            },
            {
              "id": "gemini",
              "name": "=gemini",
              "value": "={{ $json.routing_node === 'google_gemini' }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-switch-prep",
      "name": "Prepare Switch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.openai }}",
        "rules": {
          "rules": [
            {
              "value2": true,
              "output": 0
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "ai-switch",
      "name": "Switch: AI Provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "user",
              "content": "={{ $('Execute Workflow Trigger').item.json.command.params.prompt || 'Hello' }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "id": "openai-node",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.3,
      "position": [
        1120,
        100
      ],
      "credentials": {
        "openAiApi": {
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "prompt": "={{ $('Execute Workflow Trigger').item.json.command.params.prompt || 'Hello' }}",
        "options": {}
      },
      "id": "anthropic-node",
      "name": "Anthropic",
      "type": "n8n-nodes-base.anthropic",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "name": "Anthropic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generic AI handler for other providers\nconst input = $input.item.json;\nreturn [{\n  json: {\n    error: true,\n    message: `AI provider ${input.routing_node} not yet implemented`,\n    request_id: input.request_id\n  }\n}];"
      },
      "id": "ai-fallback",
      "name": "AI Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format AI response\nconst input = $('Execute Workflow Trigger').item.json;\nconst result = $input.item.json;\n\nreturn [{\n  json: {\n    success: !result.error,\n    request_id: input.request_id,\n    integration: input.integration.integration,\n    action: input.command.action,\n    result: result,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "AI Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Router": {
      "main": [
        [
          {
            "node": "Prepare Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Switch": {
      "main": [
        [
          {
            "node": "Switch: AI Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: AI Provider": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Anthropic",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "AI Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fallback": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "7c14cf82-c21e-4b22-a1d4-605135571d36",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-27T06:11:07.265Z",
      "createdAt": "2026-01-27T06:11:07.265Z",
      "role": "workflow:owner",
      "workflowId": "bp5wi0akDB0E2FQ1",
      "projectId": "UVnbpKaWHGjwcMgw",
      "project": {
        "updatedAt": "2026-01-27T18:06:19.407Z",
        "createdAt": "2026-01-27T02:07:38.443Z",
        "id": "UVnbpKaWHGjwcMgw",
        "name": "Morgan Mushroom <morgan@mycosoft.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5a61112a-4aeb-40a2-a504-bd67afa8e55b",
        "projectRelations": [
          {
            "updatedAt": "2026-01-27T02:07:38.443Z",
            "createdAt": "2026-01-27T02:07:38.443Z",
            "userId": "5a61112a-4aeb-40a2-a504-bd67afa8e55b",
            "projectId": "UVnbpKaWHGjwcMgw",
            "user": {
              "updatedAt": "2026-02-02T20:23:44.000Z",
              "createdAt": "2026-01-27T02:07:37.832Z",
              "id": "5a61112a-4aeb-40a2-a504-bd67afa8e55b",
              "email": "morgan@mycosoft.org",
              "firstName": "Morgan",
              "lastName": "Mushroom",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-27T18:07:20.521Z",
                "personalization_survey_n8n_version": "2.4.6"
              },
              "settings": {
                "userActivated": false
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-27T06:11:07.277Z",
      "createdAt": "2026-01-27T06:11:07.277Z",
      "id": "myca-native",
      "name": "MYCA Native"
    }
  ],
  "activeVersion": null
}