n8n/archive/Native__Finance__v1__20260202_202356.json
{
  "updatedAt": "2026-01-27T06:11:27.241Z",
  "createdAt": "2026-01-27T06:11:27.241Z",
  "id": "sCZustsfnQvwAsdp",
  "name": "Native: Finance",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "fin-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Route to specific finance integration\nconst input = $input.item.json;\nconst integrationName = input.integration.integration;\nreturn [{ json: { ...input, routing_node: integrationName } }];"
      },
      "id": "fin-router",
      "name": "Finance Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "stripe",
              "name": "=stripe",
              "value": "={{ $json.routing_node === 'stripe' }}",
              "type": "boolean"
            },
            {
              "id": "quickbooks",
              "name": "=quickbooks",
              "value": "={{ $json.routing_node === 'quickbooks' }}",
              "type": "boolean"
            },
            {
              "id": "coingecko",
              "name": "=coingecko",
              "value": "={{ $json.routing_node === 'coingecko' }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "fin-flags",
      "name": "Prepare Switch",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "dataType": "boolean",
        "value1": "={{ $json.stripe }}",
        "rules": {
          "rules": [
            {
              "value2": true,
              "output": 0
            },
            {
              "value2": "={{ $json.quickbooks }}",
              "output": 1
            },
            {
              "value2": "={{ $json.coingecko }}",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "fin-switch",
      "name": "Switch: Finance",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "resource": "charge",
        "operation": "getAll",
        "additionalFields": {
          "limit": "={{ $json.command.params.limit || 5 }}"
        }
      },
      "id": "stripe-node",
      "name": "Stripe List Charges",
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 2,
      "position": [
        1120,
        80
      ],
      "credentials": {
        "stripeApi": {
          "name": "Stripe API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "resource": "invoice",
        "options": {
          "limit": "={{ $json.command.params.limit || 5 }}"
        }
      },
      "id": "qb-node",
      "name": "QuickBooks Invoices",
      "type": "n8n-nodes-base.quickBooksOnline",
      "typeVersion": 1,
      "position": [
        1120,
        260
      ],
      "credentials": {
        "quickBooksApi": {
          "name": "QuickBooks"
        }
      }
    },
    {
      "parameters": {
        "resource": "simple",
        "operation": "get",
        "id": "={{ $json.command.params.coin_id || 'bitcoin' }}"
      },
      "id": "coingecko-node",
      "name": "CoinGecko Price",
      "type": "n8n-nodes-base.coinGecko",
      "typeVersion": 1,
      "position": [
        1120,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').item.json;return [{json:{error:true,message:`Integration ${input.integration.integration} not implemented in finance native handler`,request_id:input.request_id}}];"
      },
      "id": "fin-fallback",
      "name": "Finance Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $('Execute Workflow Trigger').item.json;const result = $input.item.json;return [{json:{success:!result.error,request_id:input.request_id,integration:input.integration.integration,action:input.command.action,result:result,timestamp:new Date().toISOString()}}];"
      },
      "id": "format-fin",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Finance Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Router": {
      "main": [
        [
          {
            "node": "Prepare Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Switch": {
      "main": [
        [
          {
            "node": "Switch: Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch: Finance": {
      "main": [
        [
          {
            "node": "Stripe List Charges",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "QuickBooks Invoices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CoinGecko Price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finance Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe List Charges": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QuickBooks Invoices": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CoinGecko Price": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Fallback": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "08c9b941-5870-4da0-b500-379ad2a02549",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-27T06:11:27.249Z",
      "createdAt": "2026-01-27T06:11:27.249Z",
      "role": "workflow:owner",
      "workflowId": "sCZustsfnQvwAsdp",
      "projectId": "UVnbpKaWHGjwcMgw",
      "project": {
        "updatedAt": "2026-01-27T18:06:19.407Z",
        "createdAt": "2026-01-27T02:07:38.443Z",
        "id": "UVnbpKaWHGjwcMgw",
        "name": "Morgan Mushroom <morgan@mycosoft.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5a61112a-4aeb-40a2-a504-bd67afa8e55b",
        "projectRelations": [
          {
            "updatedAt": "2026-01-27T02:07:38.443Z",
            "createdAt": "2026-01-27T02:07:38.443Z",
            "userId": "5a61112a-4aeb-40a2-a504-bd67afa8e55b",
            "projectId": "UVnbpKaWHGjwcMgw",
            "user": {
              "updatedAt": "2026-02-02T20:23:44.000Z",
              "createdAt": "2026-01-27T02:07:37.832Z",
              "id": "5a61112a-4aeb-40a2-a504-bd67afa8e55b",
              "email": "morgan@mycosoft.org",
              "firstName": "Morgan",
              "lastName": "Mushroom",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-27T18:07:20.521Z",
                "personalization_survey_n8n_version": "2.4.6"
              },
              "settings": {
                "userActivated": false
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-02",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-27T06:11:07.277Z",
      "createdAt": "2026-01-27T06:11:07.277Z",
      "id": "myca-native",
      "name": "MYCA Native"
    }
  ],
  "activeVersion": null
}